.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-title {
    font-size: 1.5rem;
    color: white;
}

.link {
    color: rgb(135, 249, 255);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    font-size: 1.52rem;
}